<div class="list-container">
  <div class="settings-header">
    <h1 class="mat-h1">Chart settings</h1>
    <button mat-raised-button (click)="onAdd()">Add chart</button>
  </div>
  <mat-list>
    <mat-list-item class="list-item"
      *ngFor="let chart of charts$ | async">
      <app-settings-card class="app-settings-card"
        [chartInfo]="chart"
        (deleteEvent)="onDelete($event)"
        (editEvent)="onEdit($event)">
      </app-settings-card>
    </mat-list-item>
  </mat-list>
</div>
