<div class="grid-container">
  <h1 class="mat-h1">Charts</h1>
  <div *ngIf="(chartsSettings$ | async)?.length !== 0">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dateRange" (dateChange)="logChange()"
        [rangePicker]="picker" [min]="minDate" [max]="maxDate">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error *ngIf="dateRange.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="dateRange.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <div *ngIf="seriesData$ | async as seriesData">
      <mat-grid-tile class="chart-grid-tile"
        *ngFor="let chartSettingsSet of chartsSettings$ | async"
        [colspan]="1" [rowspan]="1">
        <app-chart-card
          class="app-chart-card"
          [seriesValues]="seriesData"
          [chartSettings]="chartSettingsSet">
        </app-chart-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
